body {
  margin: 0;
  padding: 0;
  background: url(../images/Background.avif) no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
}

.zoom {
  transform: scale(0.8);
  margin-top: -50px;
}

.l1 {
  width: 100%;
  margin: 10px 0;
}

.lm,
.l1,
.lf,
.lg {
  font-size: 1.1em;
}

.pf {
  margin-left: 6em;
}

.p1 {
  width: 100%;
  padding: 10px 20px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #eee;
}

input[type="submit"] {
  background-color: #1e052e;
  color: white;
  margin: 10px auto;
  padding: 20px 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #29737c;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .container {
    margin: 20px auto;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin: 10px auto;
  }
}
